<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Payments Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-image">
    <!-- Navbar -->
    <div class="navbar">
        <a href="/" class="nav-btn">Home</a>
        <a href="/predict" class="nav-btn">Predict</a>
    </div>

    <!-- Main Content -->
    <div class="container result-container">
        <h1>Online Payments Fraud Detection</h1>
        <p class="description">
            The objective of this article is to predict online payments fraud given the various parameters. This will be
            a classification problem since the target or dependent variable is the fraud(categorical values). The
            purpose of fraud of online payments are to separate the available supply of potable online payments into
            classes differing in superiority. We will be using classification algorithms such as Decision tree, Random
            forest, svm, and Extra tree classifier. We will train and test the data with these algorithms.
        </p>
    </div>
</body>

</html>